.banner {
  width: 100%;
}

.contentHeader {
  font-size: 30px;
}

.content {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  line-height: 1.8;
  margin-bottom: 20px;
  padding: 0 20px;
}

.tweetBtn {
  text-decoration: none;
  margin: 15px 70px 0 70px;
}

.sectionHeader {
  font-size: 20px;
  margin-bottom: 10px;
}
